

@charset "UTF-8";

body {
   background-color: gray;
}

contatos {
   display: block;
   color: white;
   
}
card {
   margin: 20px;
   text-align: center;
}
#berna {
   background-color: red;
   display: block;
   width: 50vw;
   height: 20vh;
   border-radius: 10px;

}

#lyh {
   display: block;
   background-color: rgb(255, 0, 149);
   width: 50vw;
   height: 20vh;
   border-radius: 10px;
}

#ceo  {
   background-color: dodgerblue;
   display: block;
   border-radius: 10px;
   width: 50vw;
   height: 20vh;
}

